body {
    font-family: 'Montserrat';
   
}


/* Header */

header h3 {
   font-size: 13px;
}
header p {
    font-size: 9px;
    letter-spacing: 3px;
}



/* Shopping Cart */

#shopCart {
    height: 44px;
    width: 140px;
    text-align: center;
    border: 2px solid #222222;
    position: relative;
    font-weight: 700;
    margin-left: 50px;
}
.fa-bag-shopping {
    color: red;
}

.circle {
    width:22px;
    height:22px;
    border-radius:50%;
    background-color:#222222;
    color: #ffffff;
    font-size: 11px;
    font-weight:400;
    text-align: center;
    padding: 2px 3px 0 3px;
    position: absolute;
    left: 92%;
    top: 25%;
}

.subHeader {
    background-image: url(./images/Layer_58.png);
    height:70px;
    width: 100%;
    font-weight: 700;
    color: #222222;
  }
.subHeader p {
    height: 10px;
    font-size: 7px;
}

.dropdown-menu li {
    height:20px;
}

@media (min-width: 992px) {
    #buttonDropDown {
        display: none;
    }
    /* Navigation */
#navbarNav{
    padding:0;
}

.link:hover {
    color: #e24545;
}
.link:hover span {
    position: absolute;
    top: 0%;
    left: 5%;
    right: 0%;
    margin-top: 1.5rem;
    background-color: #e24545;
    width: 10px;
    height: 3px;
}
.link {
    font-weight: 700;
    font-size: 13px;
    height:30px;
    cursor: pointer;
    position: relative;
    color: #444444;
    text-decoration: none;
}
 .active{
    color: #e24545;
}

.active span {
    position: absolute;
    top: 0%;
    left: 5%;
    right: 0%;
    margin-top: 1.5rem;
    background-color: #e24545;
    width: 10px;
    height: 3px;
  }
  
  
 
    header h3 {
        font-size: 26px;
     }
     header p {
         font-size: 20px;
         letter-spacing: 9px;
     }
     .subHeader {
        height:150px;
        font-size: 26px;
      } 
      .subHeader p {
        font-size:12px
      }  
}
@media (max-width: 992px) {
   #navbarNav {
    display: none;
   }
   #shopCart {
    display: none;
 }
 
}

@media (max-width: 1048px) {
    #shopCart {
        display: none;
     }
}