body {
    font-family: 'Montserrat';
   
}


/* Header */

header h3 {
   font-size: 13px;
}
header p {
    font-size: 9px;
    letter-spacing: 3px;
}



/* Shopping Cart */

#shopCart {
    height: 44px;
    width: 140px;
    text-align: center;
    border: 2px solid #222222;
    position: relative;
    font-weight: 700;
    
}
.fa-bag-shopping {
    color: red;
}

.circle {
    width:22px;
    height:22px;
    border-radius:50%;
    background-color:#222222;
    color: #ffffff;
    font-size: 11px;
    font-weight:400;
    text-align: center;
    padding: 2px 3px 0 3px;
    position: absolute;
    left: 92%;
    top: 25%;
}

.subHeader {
    background-image: url(./images/Layer_58.png);
    height:70px;
    width: 100%;
    font-weight: 700;
    color: #222222;
  }
.subHeader p {
    height: 10px;
    font-size: 7px;
}
.subHeader h6 {
    font-size: 10px;
}
.dropdown-menu li {
    height:20px;
}

/* Form Searchbar */

form button {
    width:100px;
    height: 28px;
    border: 2px solid #444444;
    background-color: #ffffff;
    font-weight: 400;
    font-size: 10px;
    cursor: pointer;
}
form input {
    width:120px;
    margin-right: 10px;
    height: 28px;
}

/* Card Styles */

.card {
    border: 1px solid #eeeeee;
    background-color: #ffffff;
    margin-bottom: 4rem;
}
.card-title {
    font-size: 10px;
    font-weight: 700;
}
.card-text {
    font-size: 10px;
    font-weight: 700;
    color: #e24545;
    letter-spacing: -0.4px;
}
.card img {
    width: 50px;
    height: 90px;
}
.cardButtonsWrapper {
    right:20%;
    bottom: -10%;
}
.cardButtonsWrapper button {
    background-color: #ffffff;
    border: 1px solid #eeeeee;
    height: 25px;
}
/* Remove from List Styles */
.removeListHover {
    display: none !important;
    background-color: #000000;
    opacity: 0.8;   
    position: absolute;
    left: 0;
    top: 0%;
    height: 150px;
}
 /* Style for "Remove from List button" */
.removeButton {
    padding-right: 7px;
    border: 2px solid #ffffff;
    background: transparent;
    font-size: 11px;
    color: #ffffff;
}
.removeProduct {
    display: none;
}
.card:hover .removeListHover {
    display: flex !important; 
}
.card:hover .cardRedLine {
    visibility:hidden;
}
.card:hover .cardButtonsWrapper button {
    background-color: #e24545;
}
.card:hover .cardButtonsWrapper button i {
    color: #ffffff;
}
@media (min-width: 992px) {
    #buttonDropDown {
        display: none;
    }
    /* Navigation */
#navbarNav{
    padding:0;
}

.link:hover {
    color: #e24545;
}
.link:hover span {
    position: absolute;
    top: 0%;
    left: 5%;
    right: 0%;
    margin-top: 1.5rem;
    background-color: #e24545;
    width: 10px;
    height: 3px;
}
.link {
    font-weight: 700;
    font-size: 13px;
    height:30px;
    cursor: pointer;
    position: relative;
    color: #444444;
    text-decoration: none;
}
 .active{
    color: #e24545;
}

.active span {
    position: absolute;
    top: 0%;
    left: 5%;
    right: 0%;
    margin-top: 1.5rem;
    background-color: #e24545;
    width: 10px;
    height: 3px;
  }
  .subHeader h6 {
    font-size: 26px;
}
    header h3 {
        font-size: 26px;
     }
     header p {
         font-size: 20px;
         letter-spacing: 9px;
     }
     .subHeader {
        height:150px;
        font-size: 26px;
      } 
      .subHeader p {
        font-size:12px
      }  
      
      form button {
        width:120px;
        height: 38px;
        border: 2px solid #444444;
        background-color: #ffffff;
        font-size: 12px;
       margin-right: 3rem;
    }
    form input {
        width:220px;
        margin-right: 10px;
        height: 38px;
        border-radius: 3px;
    }

    /* Card Styles */
    .card {
        border: 1px solid #eeeeee;
        background-color: #ffffff;
        margin-bottom: 4rem;
    }
    .card-text {
        font-size:16px;
    }
    .card-title {
        font-size: 14px;
    }
    .card img {
        width: 101px;
        height: 190px;
    }
    .cardButtonsWrapper {
        position: absolute;
        right:38%;
        bottom:0%;
    }
    .cardButtonsWrapper button {
        align-items: center;
        display: flex;
        justify-content: center;
        height: 40px;
        width: 40px;
    }
    .cardRedLine{
        height:40px;
        width: 10px;
        height: 2px;
        background-color: #e24545;
    }
    .removeListHover {
        display: none !important;
        width: 251px;
        height: 270px;
        background-color: #000000;
        opacity: 0.8;   
        position: absolute;
        left: 0;
        top: 0%;
    }
    .card:hover .removeListHover {
        display: flex !important; 
    }
    .card:hover .cardRedLine {
        visibility:hidden;
    }
     /* Style for "Remove from List button" */
    .removeButton {
        width: 170px;
        height: 40px;
        border: 2px solid #ffffff;
        background: transparent;
        font-size: 12px;
        color: #ffffff;
    }
}
@media (max-width: 992px) {
   #navbarNav {
    display: none;
   }
   #shopCart {
    display: none;
 }
 
}

@media (max-width: 1048px) {
    #shopCart {
        display: none;
     }
}